<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <!-- <bean id="cust" class="com.digi.SpringProject3.Customer" autowire="byName">
  </bean>
  
  <bean id="address" class="com.digi.SpringProject3.Address">
     <property name="name" value="ram"></property>
     <property name="address" value="bangalore"></property>
  </bean>
   -->
   
   <bean id="cust" class="com.digi.SpringProject3.Customer" autowire="byType">
  </bean>
  
  <bean id="add" class="com.digi.SpringProject3.Address">
     <property name="name" value="ram"></property>
     <property name="address" value="bangalore"></property>
  </bean>
  
   
</beans>